@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: black;
  margin: 0px;
}

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

/* Generic Styles */

.transparent-gray-link {
  color: rgba(0, 0, 0, 0.5);
}

.transparent-gray-link:hover {
  color: black;
}

.form-input-container {
  display: flex;
  justify-content: space-evenly;
}

.form-input {
  border-radius: 3px;
  border-color: #d3d3d3;
  padding: 7px 14px;
  width: 300px;
}

.form-submit-btn {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 3px;
  padding: 7px 14px;
}

.form-submit-btn:hover {
  background-color: black;
}


/* Search Box */

.search-box-container {
  height: 40px;
}

.search-box {
  height: 100%;
  width: 300px;
  border: 0;
  border-radius: 2px;
  padding: 10px 13px;
  outline: none;
  background-color: #ececec;
}

.search-box-button {
  width: 60px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 2px;
}

.search-box-button:hover {
  background-color: black;
}

/* Landing Page */

.landing-page {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.landing-page-box {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 0 auto;
  width: 500px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.landing-page-box > * {
  margin-bottom: 5px;
}

.landing-page-form-container {
  width: fit-content;
}

.landing-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.landing-page-form > h2 {
  margin-bottom: 20px;
}

.landing-page-form > * {
  margin-bottom: 10px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5DC;
  padding: 10px;
}

.header img {
  width: 50px;
  height: 50px;
}


/* Product Item */

.product-item {
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  text-align: center;
}

.product-item > * {
  margin-bottom: 5px;
}

.product-item-link {
  background-color: #C8AD7E;
  width: 250px;
  margin: 0 auto;
  padding: 7px 14px;
}
